# docker
.dockerignore
Dockerfile
docker-compose.yaml
docker-compose.local.yaml

# git
/.git
.gitignore

# github
/.github

# node
node_modules

# project
/docs
/infrastructure
*.md
LICENSE

# rust
target

# webapp
front/.editorconfig
front/.gitignore
front/.prettierrc
