:root {
  --bg-default: #f0f0f0;
  --bg-tab-container: var(--background);
  --bg-tab-item: oklch(0.968 0.007 247.896);
  --color-border-tab: oklch(0.9 0.013 255.508);
  --color-remove: rgba(244, 63, 94, .75);
  --color-add: rgba(16, 185, 129, .75);
  --color-warning: rgba(187, 142, 5, 0.75);
  --bg-diff-remove: rgba(244, 63, 94, .20);
  --bg-diff-add: rgba(16, 185, 129, .20);
  --bg-highlight: rgba(0, 51, 90, 0.1);
  --callout-success: #00c16a;
  --callout-warning: var(--color-warning);
  --callout-note: #3b82f6;
  --callout-error: #ef4444;
  --title-color: oklch(0.372 0.044 257.287);
  --paragraph-color: oklch(0.372 0.044 257.287);
}

.dark {
  --bg-highlight: rgb(29, 44, 61);
  --color-warning: rgba(255, 193, 7, .75);
  --bg-tab-item: oklch(0.208 0.042 265.755);
  --color-border-tab: oklch(0.372 0.044 257.287);
  --title-color: oklch(0.968 0.007 247.896);
  --paragraph-color: oklch(0.968 0.007 247.896 /0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 100px;
  color: var(--title-color);
}

.prose {
  color: var(--paragraph-color);


  a {
    color: var(--primary);
    text-decoration: underline;
    font-weight: 500;
  }

  strong {
    font-weight: 600;
  }

  ol {
    counter-reset: list-counter;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  ol>li {
    position: relative;
    counter-increment: list-counter;
    padding-left: 1.75em;
  }

  ol>li::before {
    content: counter(list-counter) ".";
    position: absolute;
    font-weight: 400;
    left: 0;
  }

  ul>li {
    position: relative;
    padding-left: 1.75em;
  }

  ul>li::before {
    content: "";
    position: absolute;
    background-color: var(--paragraph-color);
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: 0.25em;
  }

  hr {
    border-color: var(--border-color);
    opacity: 0.10;
    border-top-width: 1px;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  blockquote {
    font-style: italic;
    border-left-width: 0.2rem;
    border-left-color: var(--primary);
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    background-color: var(--muted);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  h1 {
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.1111111;
  }

  h2 {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.3333333;
  }

  h3 {
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.5em;
    line-height: 1.6;
  }

  h4 {
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  >p {
    text-wrap: pretty;
    color: var(--paragraph-color);
    line-height: calc(0.25*7);
    margin-block: calc(0.25*5);
  }

  figure figcaption {
    color: var(--text-secondary);
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
  }

  code {
    font-weight: 600;
    font-size: 0.875em;
  }

  code::before,
  code::after {
    content: "`";
  }

  pre {
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding: 0.8571429em 1.1428571em;
  }

  pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 400;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  pre code::before,
  pre code::after {
    content: none;
  }

  table {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
    border-spacing: 0;
    border-style: hidden;
    border-radius: 0.5rem !important;
    border: 1px solid var(--color-border-tab);
  }

  thead {
    border: 1px solid var(--color-border-tab);
    border-radius: 0.5rem !important;
    background-color: var(--muted);
  }

  thead th {
    font-weight: 600;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    text-align: left;
    border-right: 1px solid var(--ui-border-muted);
    border-bottom: 1px solid var(--ui-border-muted);
    border-top: 1px solid var(--ui-border-muted);
  }

  tbody tr {
    border: 1px solid var(--color-border-tab);
  }

  tbody td {
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    text-align: left;
    vertical-align: top;
    border-right: 1px solid var(--ui-border-muted);
    border-bottom: 1px solid var(--ui-border-muted);
    border-left: 1px solid var(--ui-border-muted);
  }

  img {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.prose ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose ul li {
  padding: 0.25em 0;
  padding-left: 1.5em;
}

html:not(.dark) .prose .astro-code,
html:not(.dark) .prose .astro-code span:not(.highlighted, .highlighted-word, .diff) * {
  background-color: var(--muted) !important;
}

html.dark .prose .astro-code,
html.dark .prose .astro-code * {
  color: var(--shiki-dark) !important;
}

html.dark .prose .astro-code,
html.dark .prose>.astro-code {
  background-color: var(--muted) !important;
}

.astro-code {
  margin: 2rem 0;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  position: relative;
  border: 1px solid var(--color-border-tab) !important;

  .line {
    font-size: 0.9rem;
  }

  &.has-focused .line:not(.focused) {
    opacity: .7;
    filter: blur(.095rem);
  }

  &.has-focused:hover .line:not(.focused) {
    filter: blur(0);
    opacity: 1;
  }

  &[data-language="plaintext"] code .line {
    margin: -2px 0;
    padding: 0;
  }
}

.prose h2 code,
.prose h3 code,
.prose h4 code,
.prose h5 code,
.prose h6 code,
.prose p code,
.prose a code,
.prose table code,
.prose li code {
  border: 1px solid var(--color-border-tab);
  border-radius: 0.25rem;
  padding: 0.15rem 0.25rem;
  margin-right: 0 0.25em;
  background: var(--background);

  &::before,
  &::after {
    content: none;
  }
}

.prose img {
  border-radius: 0.5rem;
}

.prose p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: justify;
  hyphens: auto;
}


.astro-code code {
  display: flex;
  flex-direction: column;
  position: relative;
}

.astro-code .line {
  padding: 0 0.5rem;
  height: 1.6rem;
  position: relative;

  &.highlighted {
    background-color: var(--bg-highlight);

    &.error {
      background-color: rgba(244, 63, 94, .20);

      &::after {
        content: "Error";
        position: absolute;
        right: 10px;
        color: var(--color-remove);
      }
    }

    &.warning {
      background-color: rgba(255, 193, 7, .20);

      &::after {
        content: "Warning";
        position: absolute;
        right: 10px;
        color: var(--color-warning);
      }
    }
  }

  .highlighted-word {
    position: relative;
    z-index: 0;
    margin: 0 5px;

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      left: -5px;
      top: -3px;
      bottom: -3px;
      right: -5px;
      border: 1px solid var(--color-border-tab);
      border-radius: 0.25rem;
    }
  }

  &.diff {
    &.remove {
      background-color: var(--bg-diff-remove);

      &::before {
        content: "-";
        position: absolute;
        left: 5px;
        color: var(--color-remove);
      }
    }

    &.add {
      background-color: var(--bg-diff-add);

      &::before {
        content: "+";
        position: absolute;
        left: 5px;
        color: var(--color-add);
      }
    }
  }
}

.code-group .astro-code {
  margin: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: none !important;
}

.callout {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;

  .callout-title-icon {
    display: none;
  }

  &[data-callout="note"] {
    background-color: color-mix(in oklab, var(--callout-note)30%, transparent);
    border: 1px solid color-mix(in oklab, var(--callout-note)25%, transparent);
    color: var(--callout-note);

    .callout-title {
      &::before {
        content: "ⓘ";
        font-weight: bold;
        color: var(--callout-note);
      }
    }
  }

  &[data-callout="success"] {
    background-color: color-mix(in oklab, var(--callout-success)30%, transparent);
    border: 1px solid color-mix(in oklab, var(--callout-success)40%, transparent);
    color: var(--callout-success);

    .callout-title {
      &::before {
        content: "✓";
        font-weight: bold;
        color: var(--callout-success);
      }
    }
  }

  &[data-callout="warning"] {
    background-color: color-mix(in oklab, var(--callout-warning)30%, transparent);
    border: 1px solid color-mix(in oklab, var(--callout-warning)40%, transparent);
    color: var(--callout-warning);

    .callout-title {
      &::before {
        content: "⚠︎";
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--callout-warning);
      }
    }
  }

  &[data-callout="error"] {
    background-color: color-mix(in oklab, var(--callout-error)30%, transparent);
    border: 1px solid color-mix(in oklab, var(--callout-error)40%, transparent);
    color: var(--callout-error);

    .callout-title {
      &::before {
        content: "✗";
        font-weight: bold;
        color: var(--callout-error);
      }
    }
  }

  .callout-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .callout-content {
    padding-left: 1.5rem;
    opacity: 0.8;

    >*:first-child {
      margin-top: 0;
    }

    >*:last-child {
      margin-bottom: 0;
    }
  }
}