---
import { CodeGroup } from "./code-group-component";

interface Props {
  labels: string;
  languages: string;
  codes: string;
}

const { labels, languages, codes } = Astro.props;
---

<div data-code-group-wrapper>
  <CodeGroup client:idle labels={labels} languages={languages} codes={codes} />
</div>

<style>
  [data-code-group-wrapper] {
    margin-bottom: 1.5rem;
  }
</style>
