---
import Separator from "@/components/elements/separator";
import "../../assets/css/global.css";
import "../../assets/css/markdown.css";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
	<main class="relative flex-1">
		<Separator />
		<div class="mx-auto px-4 sm:px-0 max-w-screen-xl">
			<slot />
		</div>
	</main>
</BaseLayout>
