PORT=3333
ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ferris_key

ADMIN_PASSWORD=admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
PORTAL_URL=http://localhost:5555
