SERVER_PORT=3333
SERVER_HOST=localhost
SERVER_ROOT_PATH=

ENV=development

DATABASE_NAME=ferriskey
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

ADMIN_PASSWORD=admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:5555

LOG_FILTER=info
LOG_JSON=false
